body{
  background-image: url("file:///C:/Users/robin/OneDrive/Desktop/Boolean/background.jpg");
  background-size: 100%;
}

.container{
  width: 700px;
  margin: auto;
  margin-top: 32px;
  font-family: Verdana;
  border-radius:14px;
  padding: 64px;
  background-color: rgba(0, 0, 0, 0.5);
}

nav{
  background-color: #00ff00;
  text-align: center;
  padding: 5px;
}

header{
  text-align: center;
}

.flex{
  max-width: 25%;
  text-align: center;
}

.logo-text{
  text-align: center;
  color: #00ff00;
  font-size: 25px;
  font-weight: normal;
}

.bottone{
  background-color: white;
  font-size: 10px;
  margin-bottom: 5px;
}


p{
  color: white;
  margin-top: 4px;
}

.monopattino{
  margin-top: 24px;

}

.nome{
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

.via{
  font-size: 12px;
  color: white;
  margin-top: 5px;
}

.carica{
  color: white;
  font-size: 12px;
}

.barra{
  height: 24px;
  border-radius: 4px;
  margin-top: 5px;
}

#prima-carica{
  background-color: orange;
  width: 33%;
}
#seconda-carica{
  background-color: #00ff00;
  width: 66%;
}
#terza-carica{
  background-color: red;
  width: 16%;
}
